{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="custom-card p-4 mr-auto ml-auto mt-4 mb-4" style="width: 500px">
        <h4 class="text-center" style="border-bottom: 1px solid lightgrey;">About Us</h4>
        <div style="border-bottom: 1px solid lightgrey;" class="pb-4">
            <h6>VEGMART</h6>
            <img  class="mr-4" src="{% static 'images/logo.png' %}" style="float: left; width:130px; height:60px; border-radius:50%;" >
            VegMart is a carbohydrate delivery system.It acts as a virtual vegetable market structure in which shopkeepers and farmers come to us, register with us, and sell their products on the website. VegMart also employs delivery boys who help deliver fruits and vegetables.
        </div>
        <br>
        
        </div>
{% endblock content %}