{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="custom-card p-4 mr-auto ml-auto mt-4 mb-4" style="width: 500px">
        <h4 class="text-center" style="border-bottom: 1px solid lightgrey;">Contact Us</h4>
        <div style="border-bottom: 1px solid lightgrey;">
            <h6>G4</h6>
            <p><a href="mailto:cspitg4@gmail.com">cspitg4@gmail.com</a></p>
            </div>
            <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6246b48c0bfe3f4a8770f7a9/1fvi32hli';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    </div>
{% endblock content %}