<!-- Footer -->
<footer class="page-footer font-small teal pt-4 text-white bg-dark">

    <!-- Footer Text -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row ">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">VegMart</h5>
          <p>
            VegMart is a carbohydrate delivery system.It acts as a virtual vegetable market structure in which shopkeepers and farmers come to us, register with us, and sell their products on the website. VegMart also employs delivery boys who help deliver fruits and vegetables.

          </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">G4</h5>
          <p>
            20CE010, 20CE013, 20CE014, 20CE022
          </p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    
  
  </footer>
  <!-- Footer -->